<section class="products">
    <cabify-header text="Shopping cart"></cabify-header>

    <div class="tableHead">
        <cabify-grid>
            <cabify-row class="products-list-title">
                <cabify-col class="col-product">Product details</cabify-col>
                <cabify-col class="col-quantity">Quantity</cabify-col>
                <cabify-col class="col-price">Price</cabify-col>
                <cabify-col class="col-total">Total</cabify-col>
            </cabify-row>
        </cabify-grid>
    </div>

    <cabify-modal [open]="showProdModal" (modalClosed)="onCloseModal()">
        <product-detail [product]="clickedProd" (productAddedToCart)="onAddToCart($event)"></product-detail>
    </cabify-modal>

    <cabify-grid>
        <cabify-row *ngFor="let p of products; index as i" class="product">
            <cabify-col class="col-product">
                <figure class="product-image" (click)="onFigureClick($event, p)">
                    <img src="../../../../assets/img/{{p.img}}" alt="Shirt">
                    <div class="product-description">
                        <h1>{{p.name}}</h1>
                        <p class="product-code">Product code {{p.code}}</p>
                    </div>
                </figure>
            </cabify-col>
            <cabify-col class="col-quantity">
                <button class="count" (click)="onDecrease(p.code)">-</button>
                <input type="text" class="product-quantity" value="{{p.quantity}}">
                <button class="count" (click)="onIncrease(p.code)">+</button>
            </cabify-col>
            <cabify-col class="col-price">
                <span class="product-price">{{p.price}}</span><span class="product-currency currency">€</span>
            </cabify-col>
            <cabify-col class="col-total">
                <span class="product-price">{{p.quantity * p.price}}</span><span class="product-currency currency">€</span>
            </cabify-col>
        </cabify-row>
    </cabify-grid>

</section>
