<aside class="summary">
    <cabify-header text="Order Summary"></cabify-header>
    <ul class="summary-items wrapper border">
        <li>
            <cabify-span [normal]="true">11 Items</cabify-span>
            <cabify-span [medium]="true" [bold]="true">
                120
                <cabify-span class="currency" [medium]="true" [bold]="true">€</cabify-span>
            </cabify-span>
        </li>
    </ul>
    <div class="summary-discounts wrapper-half border">
        <h2>Discounts</h2>
        <ul>
            <li>
                <cabify-span [normal]="true">2x1 Mug offer</cabify-span>
                <cabify-span [normal]="true" [bold]="true">-10€</cabify-span>
            </li>
            <li>
                <cabify-span [normal]="true">x3 Shirt offer</cabify-span>
                <cabify-span [normal]="true" [bold]="true">-3€</cabify-span>
            </li>
            <li>
                <cabify-span [normal]="true">Promo code</cabify-span>
                <cabify-span [normal]="true" [bold]="true">0€</cabify-span>
            </li>
        </ul>
    </div>
    <div class="summary-total wrapper">
        <ul>
            <li>
                <cabify-span [normal]="true" [caps]="true">Total cost</cabify-span>
                <cabify-span [large]="true" [bold]="true">107€</cabify-span>
            </li>
        </ul>
        <cabify-button>Checkout</cabify-button>
    </div>
</aside>
