<aside class="summary">
    <cabify-header text="Order Summary"></cabify-header>
    <ul class="summary-items wrapper border">
        <li>
            <cabify-span [normal]="true">{{this.checkout.totalItems}} Items</cabify-span>
            <cabify-span [medium]="true" [bold]="true">
                {{this.checkout.originalCost}}
                <cabify-span [medium]="true" [bold]="true">€</cabify-span>
            </cabify-span>
        </li>
    </ul>
    <div class="summary-discounts wrapper-half border">
        <h2>Discounts</h2>
        <ul>
            <cabify-span *ngIf="discountsApplied.size === 0; else discounts" [normal]="true">No discounts</cabify-span>
            <ng-template #discounts>
                <li *ngFor="let d of discountsApplied">
                    <cabify-span [normal]="true">{{d.description}}</cabify-span>
                    <cabify-span [normal]="true" [bold]="true">adfasd</cabify-span>
                </li>
            </ng-template>
        </ul>
    </div>
    <div class="summary-total wrapper">
        <ul>
            <li>
                <cabify-span [normal]="true" [caps]="true">Total cost</cabify-span>
                <cabify-span [large]="true" [bold]="true">{{this.checkout.totalCost}}€</cabify-span>
            </li>
        </ul>
        <cabify-button>Checkout</cabify-button>
    </div>
</aside>
