.normal{
  font-size: 14px;
  line-height: 17px;
}

.medium {
  font-size: 16px;
  line-height: 17px;
}

.large {
  font-size: 20px;
  line-height: 25px;
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}
